In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
dep = pd.read_excel('../PB_R-el/LesDeportes.xlsx')

In [11]:
dep.head()

,Matricule Buchenwald kl,Nom,Prénom,Sexe,Date de naissance,Lieu de naissance,Nationalité,Parcours complet,Situation,Date de libération ou de décès,Lieu de libération ou de décès
0,3833,ABOZZI,Joseph,M,16.07.1920,Roquefort-la-Bedoule (13),F,"We,Bu",D,?,?
1,139900,ABRAHAM *,André,M,25.12.1908,Fismes (51),F,"Kas, Gux,Bu,Da",R,29.04.1945,Dachau
2,139425,ADELLE,Georges,M,05.05.1924,Beaumont-sur-Oise (78),F,Bu,R,??/04/1945,Bitterfeld
3,28899,ADRIANT,Alfred,M,11/09/1899,Crevic (54),F,"Bu,Do",DCD,23.03.1944,Dora
4,28902,ADRIANT,Louis,M,28.09.1906,Crevic (54),F,"Fh,Bu,Do",R,11.04.1945,Dora

In [12]:
dep.shape

(1134, 11)

In [13]:
dep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134 entries, 0 to 1133
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Matricule Buchenwald kl         1134 non-null   object
 1   Nom                             1134 non-null   object
 2   Prénom                          1134 non-null   object
 3   Sexe                            1134 non-null   object
 4   Date de naissance               1134 non-null   object
 5   Lieu de naissance               1134 non-null   object
 6   Nationalité                     1134 non-null   object
 7   Parcours complet                1134 non-null   object
 8   Situation                       1134 non-null   object
 9   Date de libération ou de décès  1134 non-null   object
 10  Lieu de libération ou de décès  1134 non-null   object
dtypes: object(11)
memory usage: 97.6+ KB

Les colonnes sont: