In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
df= pd.read_excel("../PB_R-el/data/Classeur1.xlsx")

In [16]:
df.head

<bound method NDFrame.head of      Matricule Buchenwald kl         Nom    Prénom Sexe Date de naissance  \
0                       3833      ABOZZI    Joseph    M        16.07.1920
1                     139900   ABRAHAM *     André    M        25.12.1908
2                     139425      ADELLE   Georges    M        05.05.1924
3                      28899     ADRIANT    Alfred    M        11/09/1899
4                      28902     ADRIANT     Louis    M        28.09.1906
...                      ...         ...       ...  ...               ...
1129                   78276  WIRTENSOHN   Charles    M        08.08.1903
1130                       ?        WOLF  François    M        23.05.1920
1131                   40813     WYSOCKI    Thadée    M        23.10.1903
1132                   76482    ZEUTZIUS   Jacques    M        28.09.1921
1133                    7961     ZINZIUS  Philippe    M        23.04.1911

              Lieu de naissance Nationalité Parcours complet Situation  \
0     Roquefort-la-Bedoule (13)           F            We,Bu         D
1                   Fismes (51)           F   Kas, Gux,Bu,Da         R
2        Beaumont-sur-Oise (78)           F               Bu         R
3                   Crevic (54)           F            Bu,Do       DCD
4                   Crevic (54)           F         Fh,Bu,Do         R
...                         ...         ...              ...       ...
1129                  Buhl (68)           F            Dü,Bu       DCD
1130               Gorika (YOU)           F           Dmd,Bu         R
1131             Kruszwica (PL)          PL      FM,Bu,Do,BB         R
1132                 Paris (75)           F      Kö,Bu(Lang)       DCD
1133            Enchenberg (57)           F       Lei,Bu,Flo         R

     Date de libération ou de décès Lieu de libération ou de décès
0                                 ?                              ?
1                        29.04.1945                         Dachau
2                        ??/04/1945                     Bitterfeld
3                        23.03.1944                           Dora
4                        11.04.1945                           Dora
...                             ...                            ...
1129                     22.02.1945                     Buchenwald
1130                              ?                              ?
1131                     15.04.1945                  Bergen-Belsen
1132                              ?                              ?
1133                     23.04.1945                    Flossenbürg

[1134 rows x 11 columns]>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134 entries, 0 to 1133
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Matricule Buchenwald kl         1134 non-null   object
 1   Nom                             1134 non-null   object
 2   Prénom                          1134 non-null   object
 3   Sexe                            1134 non-null   object
 4   Date de naissance               1134 non-null   object
 5   Lieu de naissance               1134 non-null   object
 6   Nationalité                     1134 non-null   object
 7   Parcours complet                1134 non-null   object
 8   Situation                       1134 non-null   object
 9   Date de libération ou de décès  1134 non-null   object
 10  Lieu de libération ou de décès  1134 non-null   object
dtypes: object(11)
memory usage: 97.6+ KB

In [18]:
print(df.head(2).to_markdown())

|    |   Matricule Buchenwald kl | Nom       | Prénom   | Sexe   | Date de naissance   | Lieu de naissance         | Nationalité   | Parcours complet   | Situation   | Date de libération ou de décès   | Lieu de libération ou de décès   |
|---:|--------------------------:|:----------|:---------|:-------|:--------------------|:--------------------------|:--------------|:-------------------|:------------|:---------------------------------|:---------------------------------|
|  0 |                      3833 | ABOZZI    | Joseph   | M      | 16.07.1920          | Roquefort-la-Bedoule (13) | F             | We,Bu              | D           | ?                                | ?                                |
|  1 |                    139900 | ABRAHAM * | André    | M      | 25.12.1908          | Fismes (51)               | F             | Kas, Gux,Bu,Da     | R           | 29.04.1945                       | Dachau                           |

In [19]:
df.tail()

,Matricule Buchenwald kl,Nom,Prénom,Sexe,Date de naissance,Lieu de naissance,Nationalité,Parcours complet,Situation,Date de libération ou de décès,Lieu de libération ou de décès
1129,78276,WIRTENSOHN,Charles,M,08.08.1903,Buhl (68),F,"Dü,Bu",DCD,22.02.1945,Buchenwald
1130,?,WOLF,François,M,23.05.1920,Gorika (YOU),F,"Dmd,Bu",R,?,?
1131,40813,WYSOCKI,Thadée,M,23.10.1903,Kruszwica (PL),PL,"FM,Bu,Do,BB",R,15.04.1945,Bergen-Belsen
1132,76482,ZEUTZIUS,Jacques,M,28.09.1921,Paris (75),F,"Kö,Bu(Lang)",DCD,?,?
1133,7961,ZINZIUS,Philippe,M,23.04.1911,Enchenberg (57),F,"Lei,Bu,Flo",R,23.04.1945,Flossenbürg

In [20]:
df.head(11)

,Matricule Buchenwald kl,Nom,Prénom,Sexe,Date de naissance,Lieu de naissance,Nationalité,Parcours complet,Situation,Date de libération ou de décès,Lieu de libération ou de décès
0,3833,ABOZZI,Joseph,M,16.07.1920,Roquefort-la-Bedoule (13),F,"We,Bu",D,?,?
1,139900,ABRAHAM *,André,M,25.12.1908,Fismes (51),F,"Kas, Gux,Bu,Da",R,29.04.1945,Dachau
2,139425,ADELLE,Georges,M,05.05.1924,Beaumont-sur-Oise (78),F,Bu,R,??/04/1945,Bitterfeld
3,28899,ADRIANT,Alfred,M,11/09/1899,Crevic (54),F,"Bu,Do",DCD,23.03.1944,Dora
4,28902,ADRIANT,Louis,M,28.09.1906,Crevic (54),F,"Fh,Bu,Do",R,11.04.1945,Dora
5,2842,AFFRAIS,René,M,07.09.1914,Reterre (23),F,"Ch,Bu",R,??/05/1945,Cham
6,40310,ALBAN,Roger,M,01.10.1903,Nantua (01),F,"Zwi,Bu(BB 6)",R,04.05.1945,Salzburg
7,133210,ALBERTI,Paul,M,07.01.1913,Giens (83),F,"Erf,Bu",DCD *,??/04/1945,?
8,49877,ALIBERT,Maurice,M,06.04.1907,Lyon (69),F,"Dresd,Bu,Sa",R,05.05.1945,?
9,2423,ALLAIRE,André,M,07.07.1920,Argenteuil (78),F,"Nür,Bu(Schö),Nür",L,25.03.1944,Nürnberg-Fürth
10,87416,ALTIER,Benjamin,M,07.07.1906,Nîmes (30),F,"Kob,Bu",R,11.04.1945,Buchenwald