In [2]:
import pandas as pd
import numpy as np

In [3]:
dep = pd.read_excel('../data/LesDeportes.xlsx')

In [7]:
dep.head()

,Nom de Famille,Prénom,Date de Naissance,Arrété à,Comté,Profession,Arrété le,Déporté le,Bateau,Date de décès,Age lors du décès,Lieu de décès,Numéro de Serie d'Auschwitz
0,Abosch,Abraham,15-Dec-1869,Skiptvet,Østfold,Merchant,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,72,Auschwitz,NaN
1,Adler,Ernst,1910-09-03 00:00:00,Oslo,Oslo,NaN,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,NaN,32,Auschwitz,79064
2,Appelsin[4],Elka,08-Dec-1878,Oslo,Oslo,Homemaker,1942-11-26 00:00:00,24-Feb-1943,Gotenland,1943-03-03 00:00:00,64,Auschwitz,NaN
3,Aronstam,Anna,1907-09-27 00:00:00,Oslo,Oslo,Seamstress,1942-11-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,35,Auschwitz,NaN
4,Aronstam,Menasse,6-Jul-1868,Oslo,Oslo,Shoe worker,1942-11-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,74,Auschwitz,NaN

In [5]:
dep.shape

(768, 13)

In [6]:
dep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Nom de Famille               768 non-null    object
 1   Prénom                       768 non-null    object
 2   Date de Naissance            767 non-null    object
 3   Arrété à                     768 non-null    object
 4   Comté                        768 non-null    object
 5   Profession                   746 non-null    object
 6   Arrété le                    765 non-null    object
 7   Déporté le                   765 non-null    object
 8   Bateau                       768 non-null    object
 9   Date de décès                727 non-null    object
 10  Age lors du décès            738 non-null    object
 11  Lieu de décès                738 non-null    object
 12  Numéro de Serie d'Auschwitz  134 non-null    object
dtypes: object(13)
memory usage: 78.1+ KB

Les colonnes sont: