In [3]:
![](Image/epi.png)
"""<H1>Mon projet Analyse de données<H1>"""

'[img]' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

'<H1>Mon projet Analyse de données<H1>'

In [4]:
## Contexte
"""   
 "Dans ce projet d'analyse de données qui est le mien, j'utiliserai le jeu de données des deportés norvegiens, un énorme paquebot pour l'époque qui fait naufrage en 1912 à la suite d'une collision avec un iceberg, lors de son voyage inaugural de Southampton à New York.
   * Nous avons accès à des informations sur une partie des passagers (1309 passagers) du Titanic. 
   * Pourquoi certains passagers ont survécu et d'autres sont morts?
   * Commencons l'analyse de données"""""
   
![](image/deportees.png)

'[img]' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

In [5]:
## Chargement des données

In [1]:
import pandas as pd
import numpy as np

In [4]:
dep = pd.read_excel('../data/LesDeportes.xlsx')

In [5]:
dep.tail(10)

,Nom de Famille,Prénom,Date de Naissance,Arrété à,Comté,Profession,Arrété le,Déporté le,Bateau,Date de décès,Age lors du décès,Lieu de décès,Numéro de Serie d'Auschwitz
758,Werner,Friedrich,28-Mar-1873,Oslo,Oslo,NaN,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,69,Auschwitz,NaN
759,Wilk,Bernhard,5-Oct-1883,Oslo,Oslo,Sales agent,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,59,Auschwitz,NaN
760,Wolf,Paul,15-Oct-1885,Oslo,Oslo,Cabinetmaker,1942-11-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,57,Auschwitz,NaN
761,Wolfberg[57][58],Leif (Leiba),1914-10-10 00:00:00,Oslo,Oslo,Violinist,3-Apr-1942,1942-11-26 00:00:00,Monte Rosa,Survived,NaN,NaN,81952
762,Wolkoff,Elias,1923-03-06 00:00:00,Oslo,Oslo,Mason,1942-10-27 00:00:00,1942-11-26 00:00:00,Donau,1943-01-19 00:00:00,19,Auschwitz,79248
763,Wulff,Doris,19-Feb-1938,Oslo,Oslo,Child,1942-11-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,4,Auschwitz,NaN
764,Wulff,Harry,1908-10-24 00:00:00,Oslo,Oslo,Businessman,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,1943-03-22 00:00:00,34,Auschwitz,79245
765,Wulff,Olga,17-Apr-1911,Oslo,Oslo,Homemaker,1942-11-26 00:00:00,1942-11-26 00:00:00,Donau,1-Dec-1942,31,Auschwitz,NaN
766,Zilsel,Martin Heinz,22-Aug-1917,Oslo,Oslo,Photographer,1942-10-26 00:00:00,1942-11-26 00:00:00,Donau,1943-01-14 00:00:00,25,Auschwitz,NaN
767,Zuckmann,Frida,24-Dec-1888,Trondheim,Sør-Trøndelag,NaN,1942-11-26 00:00:00,24-Feb-1943,Gotenland,1943-03-03 00:00:00,54,Auschwitz,NaN

In [6]:
dep.shape

(768, 13)

In [7]:
dep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Nom de Famille               768 non-null    object
 1   Prénom                       768 non-null    object
 2   Date de Naissance            767 non-null    object
 3   Arrété à                     768 non-null    object
 4   Comté                        768 non-null    object
 5   Profession                   746 non-null    object
 6   Arrété le                    765 non-null    object
 7   Déporté le                   765 non-null    object
 8   Bateau                       768 non-null    object
 9   Date de décès                727 non-null    object
 10  Age lors du décès            738 non-null    object
 11  Lieu de décès                738 non-null    object
 12  Numéro de Serie d'Auschwitz  134 non-null    object
dtypes: object(13)
memory usage: 78.1+ KB